
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    
    
}
body{
    font-family: font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
}

#main{
    background-color: #EEEEEE;
    margin: 30px 8px;
    position: relative;
}


#title{
    display: flex;
    justify-content: center;    
    padding: 40px;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #EEEEEE;
    
}

#img-div{
    max-width: 100%;
    height: auto;
   
    background-color: white;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 20px;
    margin: 30px;
    padding-bottom: 10px;
    text-align: center;
    
}

img{


    max-width: 100%;
    margin: 0 auto;
    width: 1000px;
}

#img-caption{
 text-align: center;
 margin-top: 10px 10px;
 

}

/* tribute info */
h1, h2, h3{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

ul {

    
    max-width: 100%;
    padding-right: 300px;
    padding-left: 400px;
    margin-top: 25px;
    width: 1800px;
   

    
}
ul li{
    padding: 10px 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
h3{
    margin-top: 10px;
}